* { /* remove all default margins and padding */
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  min-width: 785px;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(46, 67, 85);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main-app {
  display: flex;
  height: 100%;
}

button:hover {
  cursor: pointer;
}

input {
  padding: 5px;
  margin: 5px 0;
}

img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

/* Nav bar */
#navigation {
  width: 75px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #fff;
}

#navigation a {
  padding-top: 5px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-align: end;
}

#navigation a:hover {
  color: rgb(190, 190, 190);
}

/* Appcues Launchpad styling */

#launchpad {
  padding-top: 5px;
  width: 25px;
  left: calc(100% - 25px);
}

#launchpad:hover {
  color: rgb(190, 190, 190);
}

.appcues-widget-icon {
  font-size: 25px !important;
}
.appcues-widget-dropdown {
  border-radius: 5px;
}


/* Main app styling */

.app-content {
  background-color: rgb(169, 203, 226);
  width: calc(70% - 75px);
  padding: 10px;
  color:rgb(0, 8, 63);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-content button {
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 700;
  background-color: rgb(222, 222, 249);
}

.app-content button:hover {
  background-color: rgb(205, 205, 254);
}

.app-content p {
  padding: 5px 0;
  width: 60%;
  line-height: 1.2em;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.app-content ol {
  padding: 5px 0px;
  font-weight: 700;
}

.app-content li {
  margin-left: 20px;
  padding: 2px 5px;
  font-weight: 500;
}

.app-content h1, .app-content h2 {
  text-align: center;
  padding-bottom: 5px;
}

.property-setter {
  display:  flex;
  flex-direction: column;
  align-items: center;
}

.property-setter > * {
  width: 250px;
}

/* Appcues Toolbar */

#toolbar {
  width: 30%;
  padding: 10px;
  color: #fff;
}

#toolbar input {
  width: calc(100% - 14px);
  margin: 5px 0;
}

#toolbar button {
  background-color: rgb(16, 140, 197);
  color: #fff;
  font-weight: 700;
  margin: 5px 0;
  padding: 2px 10px;
  width: 100%;
}

#toolbar button:hover {
  background-color: rgb(14, 114, 160)
}

#toolbar h2 {
  text-align: center;
  height: 7%;
  padding-bottom: 5px;
  text-decoration: underline;
}

#toolbar > ul {
  height: 33%;
}

#toolbar > ul li {
  list-style-type: none;
}

#toolbar > div {
  height: 60%;
}

#toolbar > div > h2 {
  height: 5%;
}

#toolbar > div > button {
  height: 5%;
}

#events-log {
  background-color: #282828;
  border: inset;
  border-radius: 5px;
  height: 85%;
  overflow: scroll;
}

#events-log li {
  margin-left: 40px;
  font-weight: 700;
  padding-top: 5px;
  /* color: #d3f9d3; */
  color: #FFB000;
}

#events-log p {
  color: #66FF66;
  margin-left: 5px;
}

/* custom Appcues styling */

appcues-container:not(.fullscreen)[data-pattern-type='shorty'][data-position^='bottom'] {
  bottom: 0px !important;
}