* { /* remove all default margins and padding */
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  min-width: 785px;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  margin: 5px 0;
  padding: 2px 10px;
  width: 100%;
}

input {
  width: calc(100% - 14px);
  padding: 5px;
  margin: 5px 0;
}

#main-app {
  display: flex;
  height: 100%;
}

/* Nav bar */
#navigation {
  width: 10%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#navigation a {
  padding-top: 5px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  text-align: end;
}

#navigation a:hover {
  color: grey;
}

#launchpad {
  padding-top: 5px;
  text-align: end;
}

#main-app > div:nth-child(2) {
  background-color: royalblue;
  width: 60%;
  padding: 10px;
}


/* Appcues Toolbar */

#toolbar {
  width: 30%;
  padding: 10px;
}

#toolbar h2 {
  text-align: center;
  height: 7%;
  padding-bottom: 5px;
  /* border-bottom: 2px solid royalblue; */
  text-decoration: underline;
}

#toolbar > ul {
  height: 33%;
}

#toolbar > ul li {
  list-style-type: none;
}

#toolbar > div {
  height: 60%;
}

#toolbar > div > h2 {
  height: 5%;
}

#toolbar > div > button {
  height: 5%;
}

#events_log {
  background-color: darkgray;
  border: inset;
  border-radius: 5px;
  height: 85%;
  overflow: scroll;
}

#events_log li {
  margin-left: 20px;
  font-weight: 700;
  padding-top: 5px;
}