body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main-app {
  display: flex;
}

#navigation {
  width: 10%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#navigation a {
  padding-top: 5px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

#navigation a:hover {
  color: grey;
}

#launchpad {
  padding-top: 5px;
}

#main-app > div:nth-child(2) {
  background-color: royalblue;
  width: 60%;
  padding: 10px;
}

#toolbar {
  width: 30%;
  padding: 10px;
}